
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.campo{
    margin-bottom: 10px;
}

.Formulario{
    background-color: aqua;
    border: 2px solid black;
    padding: 30px;
    border-radius: 5%;
    display: flex;
}

#boton1{
    padding: 5px 100px;
    background-color: bisque;
    border-radius: 10%;
    box-shadow: 0px 2px black   ;
}

#boton1:hover{
    background-color: rgb(217, 194, 166);
    
}

#boton1:active {
    box-shadow: 0px 0px;
}

input[type = text], input[type = email]{
    background-color: aliceblue;
    border-radius: 10%;
    width: 100%;
    height: 20px;
}

label {
    font-size: 20px;
}

textarea{
    width: 100%;
}
#Como_nos_conociste{
    width: 100%;
    height: 30px;
}